@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root {
  --red: #ff3838;
}

* {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all .2s linear;
}

*::selection {
  background: var(--red);
  color: #fff;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

body {
  background: #f7f7f7;
  
}

section {
  padding: 2rem 9%;
}

.head {
  text-align: center;
  font-size: 3.5rem;
  padding: 1rem;
  color: #666;
}

.head span {
  color: #76BA99;
}

.btn {
  display: inline-block;
  padding: .8rem 3rem;
  border: .2rem solid #76BA99;
  color: black;
  cursor: pointer;
  font-size: 1.7rem;
  border-radius: .5rem;
  position: relative;
  overflow: hidden;
  z-index: 0;
  margin-top: 1rem;

}

.btn-add {
  margin-left: 390px;
  margin-top: 40px;
}

.btn::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 0%;
  height: 100%;
  background: #76BA99 ;
  transition: .3s linear;
  z-index: -1;
}

.btn:hover::before {
  width: 100%;
  left: 0;
}

.btn:hover {
  color: #fff;

}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding: 2rem 9%;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

header .logo {
  font-size: 2.5rem;
  font-weight: bolder;
  color: #666;
}

header .logo i {
  padding-right: .5rem;
  color: var(--red);
}

header .navbar a {
  font-size: 2rem;
  margin-left: 2rem;
  color: #666;
}

header .navbar a:hover {
  color: #876445;
}

#gallery-menu-bar {
  font-size: 3rem;
  cursor: pointer;
  color: #666;
  border: .1rem solid #666;
  border-radius: .3rem;
  padding: .5rem 1.5rem;
  display: none;
}

.home {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  min-height: 100vh;
  align-items: center;
  background: url(../images/home-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.home .content {
  flex: 1 1 40rem;
  padding-top: 6.5rem;
}

.home .image {
  flex: 1 1 40rem;
}

.home .image img {
  width: 100%;
  padding: 1rem;
  animation: float 3s linear infinite;
}

@keyframes float {

  0%,
  100% {
    transform: translateY(0rem);
  }

  50% {
    transform: translateY(3rem);
  }
}

.home .content h3 {
  font-size: 5rem;
  color: #76BA99;
}

.home .content p {
  font-size: 1.7rem;
  color: #876445;
  padding: 1rem 0;
}
.container{
  margin-top: 100px;
  margin-bottom: 100px;
}
.speciality .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.speciality .box-container .gallery-box {
  flex: 1 1 30rem;
  position: relative;
  overflow: hidden;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
  border: .1rem solid rgba(0, 0, 0, .3);
  cursor: pointer;
  border-radius: .5rem;
}

.speciality .box-container .gallery-box .image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: -100%;
  left: 0;
}

.speciality .box-container .gallery-box .content {
  text-align: center;
  background: #fff;
  padding: 2rem;
}

.speciality .box-container .gallery-box .content img {
  margin: 1.5rem 0;
}

.speciality .box-container .gallery-box .content h3 {
  font-size: 2.5rem;
  color: #76BA99;
}

.speciality .box-container .gallery-box .content p {
  font-size: 1.6rem;
  color: #666;
  padding: 1rem 0;
}

.speciality .box-container .gallery-box:hover .image {
  top: 0;
}

.speciality .box-container .gallery-box:hover .content {
  transform: translateY(100%);
}



.gallery .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.gallery .box-container .gallery-box {
  height: 25rem;
  flex: 1 1 30rem;
  border: 1rem solid #fff;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
  border-radius: .5rem;
  position: relative;
  overflow: hidden;
}

.gallery .box-container .gallery-box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.gallery .box-container .gallery-box .content {
  position: absolute;
  top: -100%;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, .9);
  padding: 2rem;
  padding-top: 5rem;
  text-align: center;
}

.gallery .box-container .gallery-box .content h3 {
  font-size: 2.5rem;
  color: #333;
}

.gallery .box-container .gallery-box .content p {
  font-size: 1.5rem;
  color: #666;
  padding: 1rem 0;
}

.gallery .box-container .gallery-box:hover .content {
  top: 0;
}

.img img {
  width: 300px;
  height: 200px;
}





#scroll-top {
  position: fixed;
  top: -120%;
  right: 2rem;
  padding: .5rem 1.5rem;
  font-size: 4rem;
  background: var(--red);
  color: #fff;
  border-radius: .5rem;
  transition: 1s linear;
  z-index: 1000;
}

#scroll-top.active {
  top: calc(100% - 12rem)
}

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.loader-container.fade-out {
  top: -120%;
}






/* media queries  */

@media(max-width:991px) {

  html {
    font-size: 55%;
  }

  header {
    padding: 2rem;
  }

  section {
    padding: 2rem;
  }

}

@media(max-width:768px) {

  #gallery-menu-bar {
    display: initial;
  }

  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #f7f7f7;
    border-top: .1rem solid rgba(0, 0, 0, .1);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  header .navbar a {
    margin: 1.5rem;
    padding: 1.5rem;
    display: block;
    border: .2rem solid rgba(0, 0, 0, .1);
    border-left: .5rem solid var(--red);
    background: #fff;
  }

}

@media(max-width:450px) {

  html {
    font-size: 50%;
  }

  .order .row form .inputBox input {
    width: 100%;
  }

}





/* CONTACT FORM */

.community-container {
  width: 100%;
  background: #fff;
  border-radius: 6px;
  padding: 20px 60px 30px 40px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  margin-top: 90px;
}

.community-container .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.community-container .content .left-side-part {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}

.content .left-side-part::before {
  content: '';
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: #afafb6;
}

.content .left-side-part .details {
  margin: 14px;
  text-align: center;
}

.content .left-side-part .details i {
  font-size: 30px;
  color: #3e2093;
  margin-bottom: 10px;
}

.content .left-side-part .details .topic {
  font-size: 18px;
  font-weight: 500;
}

.content .left-side-part .details .text-one,
.content .left-side-part .details .text-two {
  font-size: 14px;
  color: #afafb6;
}

.community-container .content .right-side-part {
  width: 75%;
  margin-left: 75px;
}

.content .right-side-part .topic-text {
  font-size: 23px;
  font-weight: 600;
  color: #76BA99;
}

.right-side-part .input-box {
  height: 50px;
  width: 100%;
  margin: 12px 0;
}

.right-side-part .input-box input,
.right-side-part .input-box textarea {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #F0F1F8;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}

.right-side-part .message-box {
  min-height: 110px;
}

.right-side-part .input-box textarea {
  padding-top: 6px;
}

.right-side-part .button {
  display: inline-block;
  margin-top: 12px;
}

.right-side-part .button input[type="button"] {
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background: #76BA99;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button input[type="button"]:hover {
  background: #76BA99;
}

@media (max-width: 950px) {
  .community-container {
    width: 90%;
    padding: 30px 40px 40px 35px;
  }

  .community-container .content .right-side-part {
    width: 75%;
    margin-left: 55px;
  }
}

@media (max-width: 820px) {
  .community-container {
    margin: 40px 0;
    height: 100%;
  }

  .community-container .content {
    flex-direction: column-reverse;
  }

  .community-container .content .left-side-part {
    width: 100%;
    flex-direction: row;
    margin-top: 40px;
    justify-content: center;
    flex-wrap: wrap;
  }

  .community-container .content .left-side::before {
    display: none;
  }

  .community-container .content .right-side-part {
    width: 100%;
    margin-left: 0;
  }
}


/* footer */

.footer-section{
  background-color: #ebebeb;
  background-size: cover;
  background-position: center;
  color: black;
  margin-top: 70px;
}

.footer-section .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 3rem;
}

.footer-section .box-container .gallery-box h3{
  color:var(--white);
  font-size: 2.5rem;
  padding-bottom: 2rem;
}

.footer-section .box-container .gallery-box a{
  color:var(--light-white);
  font-size: 1.5rem;
  padding-bottom: 1.5rem;
  display: block;
}

.footer-section .box-container .galler-box a i{
  color:var(--main-color);
  padding-right: .5rem;
  transition: .2s linear;
}

.footer-section .box-container .gallery-box a:hover i{
  padding-right: 2rem;
}

.footer-section .credit{
  text-align: center;
  padding-top: 3rem;
  margin-top: 3rem;
  border-top: .1rem solid var(--light-white);
  font-size: 2rem;
  color:var(--white);
}

.footer-section .credit span{
  color:var(--main-color);
}